<%= form_for(@task) do |f| %>
  <div class="form-control">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="form-control">
    <%= f.label :details %>
    <%= f.text_area :details %>
  </div>
  <div class="form-control">
    <%= f.check_box :completed %>
  </div>
  <%= f.submit :Submit, class: 'btn btn-primary' %>
<% end %>
